@using BlogSitesi.Data.Model
@model BlogSitesi.ViewModels.BlogKategoriViewModel
@{
    ViewBag.Title = "Index";
}

<style>
    .blog-box {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .dropdown-menu {
        width: 100%;
    }

    .btn-group {
        width: 100%;
    }

    .d-flex {
        display: flex;
        align-items: center;
    }

    .ml-3 {
        margin-left: 1rem;
    }

    .mt-4 {
        margin-top: 1.5rem;
    }
</style>
<div class="row">
    <div class="col-md-12 d-flex align-items-center">
        <h2><b>BLOGLARIM</b></h2>
    </div>
</div>

<div class="row mt-4" id="blogList">
    @foreach (var blog in Model.Bloglar)
    {
        <div class="col-md-12">
            <div class="white-box blog-box">
                <div class="row">
                    <div class="col-sm-3">
                        @if (!string.IsNullOrEmpty(blog.BlogResim))
                        {
                            <img style="max-width: 100%; height: 200px; object-fit: cover; " src="@Url.Content(blog.BlogResim)" alt="Blog Resmi" />
                        }
                        else
                        {
                            <p>Resim bulunamadı.</p>
                        }
                    </div>
                    <div class="col-sm-9">
                        <h3 class="box-title">@blog.BlogAd</h3>
                        <p>@blog.BlogMetin</p>
                        <p>Yazan: @blog.Kullanici.KullaniciAd @blog.Kullanici.KullaniciSoyad</p>

                        <p>Blog Yayınlanma Tarihi: @blog.BlogYazilmaTarihi.ToString("dd MMM yyyy")</p>
                        <p style="border: 2px solid #405D72; padding: 5px; display: inline-block; background-color: #405D72; color:antiquewhite">
                            @{
                                var kategoriler = string.Join(", ", blog.Kategoriler.Select(k => k.KategoriAd));
                            }
                            @kategoriler
                        </p>
                        <a class="blogumuDuzenle btn btn-custom" value="@blog.BlogId" style="background-color: #405D72; color: white; border: none;" href="@Url.Action("Duzenle", "Profil", new { id = blog.BlogId })">Düzenle</a>

                        <button class="blogumuSil btn btn-danger" value="@blog.BlogId" style="background-color: red; color: white; border: none;">Sil</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Scripts/Main.js"></script>
